language: node_js
node_js:
  - 8
  - 9
before_script:
  - 'npm install -g codeclimate-test-reporter'
after_script:
  - 'cat ./coverage/lcov.info | coveralls'
  - 'codeclimate-test-reporter < ./coverage/lcov.info'
